
<div class="p-m-5 p-shadow-6 mainClass">
    <div class="p-grid p-col-1 p-ml-5 colorBox" 
    [ngStyle]="{'backgroundColor': colorName}"></div>
    <div class="p-ml-5">
            <h1>{{projectName}}</h1>
            <h4 word-wrap-break>{{description}}</h4>
        <div class="p-grid margin-top-35">
                <p>Proejct ID:</p>
                <p class="label">{{projectId}}</p>
                <p class="p-pl-2">Owner Name:</p>
                <p class="label">{{ownerName}}</p>
                <span class="p-pl-1">
                    <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-sm pencil "></button>
                </span>
        </div>
        <div [style]="{'padding-bottom': '50px'}">
            <p-chip *ngFor="let tag of tags" styleClass="custom-chip">{{tag}}</p-chip>
         </div>
         <h4 class="message">Not Started</h4> 
        <div class="p-grid p-mt-4">
            <button pButton pRipple type="button" label="PUBLISH" class="p-button-outlined publish"></button>
            <button pButton pRipple type="button" label="SHARE" class="p-button-outlined publish p-ml-1"></button>
        </div>  
    </div>
    <p-divider></p-divider>
    <div class="p-ml-4">
        <div>
            <p>Input</p>
            <textarea rows="6" cols="62" pInputTextarea></textarea>  
        </div>
        <div>
            <p>Output</p>
            <textarea rows="6" cols="62" pInputTextarea ></textarea>
        </div>
        <div class="p-pt-4">
                <i class="pi pi-refresh" style="font-size: 1rem; color: blue"></i>
                <i class="pi pi-copy p-pl-3" style="font-size: 1rem; color: blue"></i>
                <i class="pi pi-cloud-upload p-pl-3" style="font-size: 1rem; color: blue"></i>
        </div>

    </div>
    <div class="p-grid p-offset-7">
        <p-button pRipple  label="CANCEL" styleClass="p-button-text" (click)="cancelToNewSandbox()"></p-button>
        <p-button pRipple  label="SAVE" class="p-pl-3"></p-button>  
    </div>
</div>     