
<app-header></app-header>

<div class="p-grid  mainContainer">
    <div class="p-col-2 p-m-3 p-pl-1 p-shadow-7">
       <div class="sandbox p-ai-center vertical-container">

           <!-- New sandbox changes starts here -->
            <i class="pi pi-plus-circle" [style]="{'font-size': '2rem'}" (click)="newSandbox()"></i>
              <p>NEW SANDBOX</p>
        </div>
    </div>
    <div class="p-col-2 p-m-3 p-shadow-7 card_height">
        <div class="p-col-10 p-mr-2 p-ml-3">
            <div class="p-grid my-banner" [style]="{'background-color': 'orange'}"></div>
                <div class="p-mt-2">
                    <span class="owner">
                        Owner: You
                        <i class="pi pi-user flot_right"></i>
                    </span>
                </div>
            <div>
                <h4 class="box-header">UC-10 Full Suit Dashboard</h4>
                    <p id="box-text">UC-10 Full Suit Dashboard is a Dahsboard to 
                        display various load details, that taken by
                        PSU,Gov.Institutional etc.
                    </p>
            </div>
            <div>
                <div class="p-mt-1">
                    <p class="expire">
                        Expires in 13 days
                        <span class="flot_right">DEV</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-2 p-m-3 p-shadow-7 card_height">
       <div class="p-col-10 p-mr-2 p-ml-3">
            <div class="p-grid my-banner" [style]="{'background-color': 'red'}"></div>
                <div class="p-mt-2">
                    <span class="owner">
                        Owner: Tony Brain
                        <!--<i class="pi pi-user flot_right"></i>-->
                    </span>
                </div>
            <div>
                <h4 class="box-header">Overdue loans by US State</h4>
                    <p id="box-text">Overdue loans by US State is a Dahsboard to 
                        display various load details, that taken by
                        PSU,Gov.Institutional etc.
                    </p>
            </div>
            <div>
                <div class="p-mt-1">
                    <p class="expire">
                        Expires in 13 days
                        <span class="flot_right">DEV</span>
                    </p>
                </div>
            </div>
        </div> 
        </div>
    <div class="p-col-2 p-m-3 p-shadow-7 card_height" >
        <div class="p-col-10 p-mr-2 p-ml-3">
            <div class="p-grid my-banner" [style]="{'background-color': 'Purple'}"></div>
                <div class="p-mt-2">
                    <span class="owner">
                        Owner: You
                        <i class="pi pi-user flot_right"></i>
                    </span>
                </div>
            <div>
                <h4 class="box-header">Resolving loan portfolios</h4>
                    <p id="box-text">Overdue loans by US State is a Dahsboard to 
                        display various load details, that taken by
                        PSU,Gov.Institutional etc.
                    </p>
            </div>
            <div>
                <div class="p-mt-1">
                    <p class="expire">
                        Expires in 13 days
                        <span class="flot_right">DEV</span>
                    </p>
                </div>
            </div>
        </div> 
    </div>
    <div class="p-col-2 p-m-3 p-shadow-7 card_height">
        <div class="p-col-10 p-mr-2 p-ml-3">
            <div class="p-grid my-banner" [style]="{'background-color': 'green'}"></div>
                <div class="p-mt-2">
                    <span class="owner">
                        Owner: You
                        <i class="pi pi-user flot_right"></i>
                    </span>
                </div>
            <div>
                <h4 class="box-header">Subprime SPVs   </h4>
                    <p id="box-text">Overdue loans by US State is a Dahsboard to 
                        display various load details, that taken by
                        PSU,Private Banks, Gov.Institutional etc.
                    </p>
            </div>
            <div>
                <div class="p-mt-1">
                    <p class="expire">
                        Expires in 13 days
                        <span class="flot_right">DEV</span>
                    </p>
                </div>
            </div>
        </div> 
    </div>

     <div class="p-col-2 p-m-3 p-shadow-7 card_height">
        <div class="p-col-10 p-mr-2 p-ml-3">
            <div class="p-grid my-banner" [style]="{'background-color': 'orange'}"></div>
                <div class="p-mt-2">
                    <span class="owner">
                        Owner: You
                        <i class="pi pi-user flot_right"></i>
                    </span>
                </div>
            <div>
                <h4 class="box-header">Unpooled Asset pools</h4>
                    <p id="box-text">UC-10 Full Suit Dashboard is a Dahsboard to 
                        display various load details, that taken by
                        PSU,Gov.Institutional etc.
                    </p>
            </div>
            <div>
                <div class="p-mt-1">
                    <p class="expire">
                        Expires in 13 days
                        <span class="flot_right">DEV</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-2 p-m-3 p-shadow-7 card_height">
        <div class="p-col-10 p-mr-2 p-ml-3">
            <div class="p-grid my-banner" [style]="{'background-color': 'Purple'}"></div>
                <div class="p-mt-2">
                    <span class="owner">
                        Owner: Ramkrishna V
                        <!--<i class="pi pi-user flot_right"></i>-->
                    </span>
                </div>
            <div>
                <h4 class="box-header">Non-defualted REMICS</h4>
                    <p id="box-text">UC-10 Full Suit Dashboard is a Dahsboard to 
                        display various loan details,
                        PSU,Gov.Institutional etc.
                    </p>
            </div>
            <div>
                <div class="p-mt-1">
                    <p class="expire">
                        Expires in 13 days
                        <span class="flot_right">DEV</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-2 p-m-3 p-shadow-7 card_height" >
        <div class="p-col-10 p-mr-2 p-ml-3">
            <div class="p-grid my-banner" [style]="{'background-color': 'Purple'}"></div>
                <div class="p-mt-2">
                    <span class="owner">
                        Owner: You
                        <i class="pi pi-user flot_right"></i>
                    </span>
                </div>
            <div>
                <h4 class="box-header">Low-yield credit derivatives</h4>
                    <p id="box-text">Overdue loans by US State is a Dahsboard to 
                        display various load details,thta taken by
                        PSU,Gov.Institutional etc.
                    </p>
            </div>
            <div>
                <div class="p-mt-1">
                    <p class="expire">
                        Expires in 13 days
                        <span class="flot_right">DEV</span>
                    </p>
                </div>
            </div>
        </div> 
    </div>

    <div class="p-col-2 p-m-3 p-shadow-7 card_height" >
        <div class="p-col-10 p-mr-2 p-ml-3">
            <div class="p-grid my-banner" [style]="{'background-color': 'green'}"></div>
                <div class="p-mt-2">
                    <span class="owner">
                        Owner: You
                        <i class="pi pi-user flot_right"></i>
                    </span>
                </div>
            <div>
                <h4 class="box-header">Resolving loan portfolios</h4>
                    <p id="box-text">Overdue loans by US State is a Dahsboard to 
                        display various load details, that taken by
                        PSU,Gov.Institutional etc.
                    </p>
            </div>
            <div>
                <div class="p-mt-1">
                    <p class="expire">
                        Expires in 13 days
                        <span class="flot_right">DEV</span>
                    </p>
                </div>
            </div>
        </div> 
    </div>

    <div class="p-col-2 p-m-3 p-shadow-7 card_height" >
        <div class="p-col-10 p-mr-2 p-ml-3">
            <div class="p-grid my-banner" [style]="{'background-color': 'red'}"></div>
                <div class="p-mt-2">
                    <span class="owner">
                        Owner: You
                        <i class="pi pi-user flot_right"></i>
                    </span>
                </div>
            <div>
                <h4 class="box-header">Resolving loan portfolios</h4>
                    <p id="box-text">Overdue loans by US State is a Dahsboard to 
                        display various load details, that taken by
                        PSU,Gov.Institutional etc.
                    </p>
            </div>
            <div>
                <div class="p-mt-1">
                    <p class="expire">
                        Expires in 13 days
                        <span class="flot_right">DEV</span>
                    </p>
                </div>
            </div>
        </div> 
    </div>


</div>