.header {
    background-color: #d8d6d6;
    /*height: 46px;*/
    height: 28px;
}

.filter {
    padding: 15px;
}

.disabled{
    background-color: lighgrey !important;
}

.mainContainer {
  padding-left: 50px;
  padding-top: 20px;
}

.sandbox {
    color: #2196F3;
    text-align: center;
    margin: 36px;
    padding-top: 70px;
}
.sandbox > p {
    font-size: 9px;
    font-weight: bold;
}
.card_height {
    height: 250px;
}
.my-banner {
    height: 23px;
}
.owner {
    font-size: 11px;
}
.flot_right {
    float: right;
}
.box-header {
    margin-bottom: 10px;
    padding-top: 15px
}

#box-text {
    font-size: 11px;
}
.expire {
    font-size: 11px;
}