
/* CSS for New Snad box starts here| Ignore the commented CSS */

.label {
    font-size: 12px;
    text-align: start;
    color: black;
}
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: white;
  border-color: white !important;
  width: 300px;

}
.no-outline:focus {
  outline: none;
}

p-radioButton {
    
    padding-left: 5px;
}

/*.p-radiobutton .p-radiobutton-box .p-radiobutton-icon .p-label-focus {
	color: red !important;
	background: red !important;
	border: red !important;
    border-color: red !important
}*/

.tags {
    padding-top: 34px;
}

.disclaimer {
    width: 20rem;
    border: 1px solid lightgrey;
    font-size: 12px;
    border-radius: 14px;
}

/* CSS for New Snad box ends here */