<app-header></app-header> 
<div class="p-shadow-7 mainClass"> 
    <h2 class="header padding-left-20 p-pt-2">{{globalDATA[0].pageHeader}}</h2>
    <form [formGroup]="sandboxForm" (ngSubmit)="createSandbox()">
        <div class="p-pl-5 padding-right-20 p-col-6 p-grid">
            
            <div *ngFor="let field of newSandboxObject.data" class="width-300px  margin-top-20px p-grid">
                <div [ngSwitch]="field.fieldType">
                    <p class="label">{{field.label}} <span *ngIf="field.isrequired" class="red">*</span></p>

                    <section *ngSwitchCase="'inputBox'">
                    <input  [type]="field.inputType" pInputText  [maxlength]="field.maxlength" [formControlName]="field.formControlName" [placeholder]="field.placeholder">
                    </section>

                    <section *ngSwitchCase="'textarea'">
                        <textarea pInputTextarea [rows]="field.rows" [cols]="field.cols"  [maxlength]="field.maxlength" [formControlName]="field.formControlName" [placeholder]="field.placeholder" class="p-pt-2"></textarea>
                    </section>

                    <section *ngSwitchCase="'radioButton'">
                        <div [ngClass]="field.formControlClass">
                            <p-radioButton *ngFor="let button of field.buttonList" 
                                [inputId]="button.buttonValue"  [name]="button.buttonName" [value]="button.buttonValue" [formControlName]="field.formControlName" [ngClass]="button.buttonColor"></p-radioButton> 
                        </div>     
                    </section>
                    <section *ngSwitchCase="'inputChip'">
                        <p-chips [formControlName]="field.formControlName" [max]= "field.maxlength" separator="," styleClass="tags"></p-chips>
                    </section>
                    <section *ngSwitchCase="'readonly'">
                        <p [style]="field.style">{{field.readonlyValue}}</p>
                    </section>

                    <section *ngSwitchCase="'dropdown'">
                        <p-dropdown [options]="field.FILTER_VALUES" [formControlName]="field.formControlName" [style]="{'width':'300px'}"></p-dropdown>
                    </section>
                    
                </div>      
            </div>
        </div>
        <div class="margin-top-20px padding-left-20">
            <button pButton pRipple type="button" label="CANCEL" class="p-button-secondary" (click)="back()"></button>
            <button pButton pRipple type="submit" label="CREATE SANDBOX" [disabled]="!sandboxForm.valid" class="p-ml-2"></button>  
        </div>
     </form>
</div>

    
        

