<app-header></app-header> 
<div class="p-shadow-7 mainClass"> 
    <h2 class="padding-left-20 p-pt-2">NEW SANDBOX</h2>
    <form [formGroup]="sandboxForm" (ngSubmit)="createSandbox()">
        <div class="padding-left-20 padding-right-20 p-col-6 p-grid">
        
            <div class="projectName p-pt-1 p-grid">
                <p class="label">Project Name <span class="red">*</span></p>
                <input type= "text" pInputText  #projectName maxlength="36" formControlName="projectName" placeholder="Project Name">
                <!--<small align="end">{{projectName.value.length}} / 36</small>-->
            </div>

            <div class="description margin-top-20px p-grid">
                <p class="label">Description <span class="red">*</span></p>
                <textarea pInputTextarea [rows]="6" [cols]="40" #description maxlength="128" formControlName="description" placeholder="Description" class="p-pt-2"></textarea>
                <!--<mat-hint align="end">{{description.value.length}} / 128</mat-hint>-->
            </div>
            <div class="margin-top-20px">
                <p class="label">Color <span class="red">*</span></p>
                <div class="p-grid">
                <p-radioButton styleClass="radio-skyblue" name="colorName" value="skyblue" formControlName="colorName"></p-radioButton>
                <p-radioButton styleClass="radio-red" name="colorName"  value="red" formControlName="colorName"></p-radioButton>
                <p-radioButton styleClass="radio-purple" name="colorName" value="purple" formControlName="colorName"></p-radioButton>
                <p-radioButton styleClass="radio-green" name="colorName" value="green" formControlName="colorName"></p-radioButton>
                <p-radioButton styleClass="radio-orange" name="colorName" value="orange" formControlName="colorName"></p-radioButton>
                </div>
            </div>    
            <div class="tags margin-top-20px">
                    <p class="label">Tags<span class="red">*</span></p>
                    <input type="text" pInputText class="p-pt-2" formControlName="tags">
                    <p-chip [removable]="true" styleClass="p-mt-1 custom-chip">{{chipBtn1}}</p-chip>
                    <p-chip [removable]="true" styleClass="p-mt-1 p-ml-2 custom-chip">{{chipBtn2}}</p-chip>
                </div>
            <div class="width-300px margin-top-20px">
                <p class="label">Proejct ID</p>
                <p [style]="{'text-align':'start'}">{{projectId}}</p>
            </div>
            <div class="width-300px margin-top-20px">    
                <p class="label">Owner</p>
                <p [style]="{'text-align': 'start'}">{{ownerName}}</p>
            </div>
            <div class="width-300px margin-top-20px ">
             <p class="label">Disclaimer</p>   
             <p class="p-pt-1 disclaimer">{{disclaimerText}}</p>   
            </div>
        </div>
        <div class="margin-top-20px">
            <button pButton pRipple type="button" label="CANCEL" class="p-button-secondary" (click)="back()"></button>
            <button pButton pRipple type="submit" label="CREATE SANDBOX" [disabled]="!sandboxForm.valid" class="p-ml-2"></button>
            
            
        </div>
     </form>
</div>

    
        

